extends layout

block content
  h1= title
  form(id='ApartmentForm', action="/resource/Apartment", method="POST")
    div.form-group
      label.ApartmentAttr(for='name') Apartment name
      input#name(type='text', name='name')
    div.form-group
      label.ApartmentAttr(for='price') Apartment Location
      input#price(type='text', name='Location')
    div.form-group
      label.ApartmentAttr(for='Location') Apartment price
      input#Location(type='number', name='price')
    input(type="submit")
  script.
    document.forms['ApartmentForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded");
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed: " + error);
      });
    });
